
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/logo-pidp.png" alt="" width="80">
          </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex flex-row-reverse bd-highlight " id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link " (click)="scrollTo('start')" aria-current="page" >Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="scrollTo('sobre')"  >Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="scrollTo('projetos')"  >Projetos</a>
          </li>
          <li class="nav-item mr-3">
            <a class="nav-link" (click)="scrollTo('habilidades')" >Habilidades</a>
          </li>
          <a mat-raised-button href="https://wa.me/message/L5DQKZR73EI6K1" target="_blank">Contato</a>
        </ul>
      </div>
    </div>
  </nav>
