<app-navbar></app-navbar>

<section class="first-section" id="start">
  <div class="img-intro">
    <img src="assets/avatar-site-novo.png" alt="" />
  </div>
  <div class="intro-txt">
    <h1>Desenvolvedor web fullstack</h1>
    <p>
      Minha especialidade é entender o seu problema e encontrar uma solução
      completa
    </p>
  </div>
</section>

<section class="presentation" id="sobre">
  <div class="presentation-txt">
    <h2>Olá, meu nome é Pedro Imparato. É um prazer te conhecer!</h2>
    <p>
      Sou um ex-cozinheiro que se apaixonou pelo mundo da tecnologia. Comecei a
      estudar programação de forma independente até participar do processo
      seletivo e ser aprovado para um bootcamp da Soulcode, me formando como dev
      fullstack.
    </p>
    <p>
      Hoje trabalho desenvolvendo aplicações de alto nível, buscando sempre
      soluções criativas e eficientes. Tenho grande facilidade de me comunicar e
      trabalhar em grupo e possuo conhecimento em metodologias ágeis e gestão de
      grupos.
    </p>
  </div>

  <div class="img-presentation">
    <img src="assets/dev1.png" alt="" />
  </div>
</section>

<section class="projetos" id="projetos">
  <h2 class="subtitulo">Projetos</h2>
  <app-cards></app-cards>
</section>

<section class="skills" id="habilidades">
  <h2 class="subtitulo">Tecnologias e habilidades</h2>
  <div class="icons">
    <div class="icon-item">
      <img src="assets/html.png" alt="" />
      <p>HTML5</p>
    </div>

    <div class="icon-item">
      <img src="assets/css3.png" alt="" />
      <p>CSS3</p>
    </div>

    <div class="icon-item">
      <img src="assets/javascript.png" alt="" />
      <p>Javascript</p>
    </div>

    <div class="icon-item">
      <img src="assets/typescript.png" alt="" />
      <p>Typescript</p>
    </div>

    <div class="icon-item">
      <img src="assets/angular.png" alt="" />
      <p>Angular</p>
    </div>

    <div class="icon-item">
      <img src="assets/java.png" alt="" />
      <p>Java</p>
    </div>

    <div class="icon-item">
      <img src="assets/git.png" alt="" />
      <p>Git e Github</p>
    </div>

    <div class="icon-item">
      <img src="assets/mysql.png" alt="" />
      <p>MySQL</p>
    </div>

    <div class="icon-item">
      <img src="assets/firebase.png" alt="" />
      <p>Firebase</p>
    </div>

    <div class="icon-item">
      <img src="assets/postman-icon.png" height="96px" alt="" />
      <p>Postman</p>
    </div>

    <div class="icon-item">
      <img src="assets/cypress.jpg" height="96px" alt="" />
      <p>Cypress</p>
    </div>

    <div class="icon-item">
      <img src="assets/spring.png" alt="" />
      <p>Spring</p>
    </div>
  </div>
</section>

<section class="skills-2">
  <div class="icons">

    <div class="icon-item-2">
      <img src="assets/scrum.png" height="140px"  alt="" />
      <p>SCRUM</p>
    </div>

    <div class="icon-item-2">
      <img src="assets/devops.png" height="140px"  alt="" />
      <p>Dev-Ops</p>
    </div>

    <div class="icon-item-2">
      <img src="assets/testing.png " height="140px"  alt="" />
      <p>Testagem</p>
    </div>

    <div class="icon-item-2">
      <img src="assets/project-manager.png" height="140px"  alt="" />
      <p>Gestão de projetos</p>
    </div>

  </div>

</section>

<app-footer></app-footer>