<body>
  <div class="container">
    <mat-card class="example-card caixa-card relative">
      <mat-card-header class="header-card">
        <img src="assets/library.png" height="60px" alt="">
        <h4 class="titulo-card">Bibliotech</h4>
      </mat-card-header>
      <mat-card-content  class="texto-card">
        <ul>
          <li>Projeto desenvolvido durante o bootcamp da Soulcode</li>
          <li>Sistema de gestão de acervos</li>
          <li>
            O usuário, dadas as devidas permissões do sistema, pode cadastrar e
            sinalizar a retirada e devolução de volumes do acervo (livros,
            filmes, documentos, etc)
          </li>
          <li>Relatórios gerenciais do acervo cadastrado</li>
        </ul>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card caixa-card relative">
      <mat-card-header class="header-card">
        <img src="assets/ticket.png" height="60px" alt="">
        
        <h4 class="titulo-card">Sistema de gestão de chamados</h4>
      </mat-card-header>
      <mat-card-content class="texto-card">
        <ul>
          <li>Sistema desenvolvido para utilização interna da Soulcode</li>
          <li>
            Criado para facilitar e organizar processos de manutenção dos
            sistemas da empresa
          </li>
          <li>
            Permite a criação e acompanhamento de chamados técnicos 3 níveis de
            acesso ao sistema: usuário, dev e gestor
          </li>
          <li>Dados armazenados no Firestore</li>
        </ul>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card caixa-card">
      <mat-card-header class="header-card">
        <img src="assets/dragon.png" height="60px" alt="">
        <h4 class="titulo-card">Gerenciador de fichas de RPG</h4>
      </mat-card-header>
      <mat-card-content  class="texto-card">
        <ul>
        <li>
          Projeto pessoal <b> em desenvolvimento</b> 
          </li>
          <li>
          Sistema de cadastro e gestão de
          fichas de jogadores
        </li>
        <li>
          Acesso facilitado ao narrador da aventura, agilizando o processo de
          combates dentro das sessões de jogo
        </li>
        <li>
          Rastreamento automático de ordem de jogo 
          </li>
          <li>Login com diferentes níveis
          de acesso: jogadores e narrador
        </li>
      </ul>
      </mat-card-content>
    </mat-card>
  </div>
</body>
